@model PatrimonyBank.ViewMoldels.AccountPFVm
    <div class="">
        <p class="tituloLeve fonteLeveM center bordaTxtTitulo">Cpf : @Html.DisplayFor(model => model.CPF)</p>
    </div>
<div class="centralizeDiv larguraM contornoM">
    <table class="row">
        <tr class="larguraG center">
            <td>
                @Html.DisplayNameFor(model => model.brandName)
                @Html.DisplayFor(model => model.brandName)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.civilName)
                @Html.DisplayFor(model => model.civilName)
            <td>
            <td>
                @Html.DisplayNameFor(model => model.socialName)
                @Html.DisplayFor(model => model.socialName)
            </td>
        </tr>
        <tr class="larguraG center">
            <td>
                @Html.DisplayNameFor(model => model.dateTime)
                @Html.DisplayFor(model => model.dateTime)

            </td>
            <td>
                @Html.DisplayNameFor(model => model.maritalStatusCode)
                @Html.DisplayFor(model => model.maritalStatusCode)
            </td>
             <td>
                @*@Html.DisplayNameFor(model => model.maritalStatusAtritionalInfo)
                @Html.DisplayFor(model => model.maritalStatusAtritionalInfo)*@
            </td>
            <td>
                @Html.DisplayNameFor(model => model.sex)
                @Html.DisplayFor(model => model.sex)
            </td>
        </tr> 
        <tr class="larguraG center">
            <td>
                @Html.DisplayNameFor(model => model.CPF)
                @Html.DisplayFor(model => model.CPF)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.hasBrazilianNationality)
                @Html.DisplayFor(model => model.hasBrazilianNationality)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.otherNationalitiesInfo)
                @Html.DisplayFor(model => model.otherNationalitiesInfo)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.typeDocument)
                @Html.DisplayFor(model => model.typeDocument)
            </td>
        </tr>

        <!--<tr class="larguraG center">
            @Html.DisplayNameFor(model => model.numberDocument)
            @Html.DisplayFor(model => model.numberDocument)
        </tr>
        <tr class="larguraG center">
            @Html.DisplayNameFor(model => model.checkDigit)
            @Html.DisplayFor(model => model.checkDigit)
        </tr>
        <tr class="larguraG center">-->
            @*@Html.DisplayNameFor(model => model.atritionalInfo)
            @Html.DisplayFor(model => model.atritionalInfo)*@
        <!--</tr>
        <tr class="larguraG center">
            @Html.DisplayNameFor(model => model.expirationDate)
            @Html.DisplayFor(model => model.expirationDate)
        </tr>
        <tr class="larguraG center">
            @Html.DisplayNameFor(model => model.issueDate)
            @Html.DisplayFor(model => model.issueDate)
        </tr>
        <tr class="larguraG center">
            @Html.DisplayNameFor(model => model.country)
            @Html.DisplayFor(model => model.country)
        </tr>
        <tr class="larguraG center">
            @Html.DisplayNameFor(model => model.typeFiliation)
            @Html.DisplayFor(model => model.typeFiliation)
        </tr>
        <tr class="larguraG center">
            @Html.DisplayNameFor(model => model.civilNameFiliation)
            @Html.DisplayFor(model => model.civilNameFiliation)
        </tr>
        <tr class="larguraG center">
            @Html.DisplayFor(model => model.socialNameFiliation)
            @Html.DisplayNameFor(model => model.socialNameFiliation)
        </tr>
        <tr class="larguraG center">-->
            @*@Html.DisplayNameFor(model => model.atrress)
            @Html.DisplayFor(model => model.atrress)*@
        <!--</tr>
        <tr class="larguraG center">-->
            @*@Html.DisplayNameFor(model => model.atritionalInfoAdress)
            @Html.DisplayFor(model => model.atritionalInfoAdress)*@
        <!--</tr>
        <tr class="larguraG center">
        </tr>
        <tr class="larguraG center">
            @Html.DisplayNameFor(model => model.districtName)
            @Html.DisplayFor(model => model.districtName)
        </tr>
        <tr class="larguraG center">
            @Html.DisplayNameFor(model => model.townName)
            @Html.DisplayFor(model => model.townName)
        </tr>
        <tr class="larguraG center">
            @Html.DisplayNameFor(model => model.ibgeTownCode)
            @Html.DisplayFor(model => model.ibgeTownCode)
        </tr>
        <tr class="larguraG center">
            @Html.DisplayNameFor(model => model.countrySubDivision)
            @Html.DisplayFor(model => model.countrySubDivision)
        </tr>
        <tr class="larguraG center">
            @Html.DisplayNameFor(model => model.postCode)
            @Html.DisplayFor(model => model.postCode)
        </tr>
        <tr class="larguraG center">
            @Html.DisplayNameFor(model => model.countryAdress)-->
            @*@Html.DisplayFor(model => model.counstryAdress)*@
        <!--</tr>
        <tr class="larguraG center">
            @Html.DisplayNameFor(model => model.countryCode)
            @Html.DisplayFor(model => model.countryCode)
        </tr>
        <tr class="larguraG center">
            @Html.DisplayNameFor(model => model.typePhone1)
            @Html.DisplayFor(model => model.typePhone1)
        </tr>
        <tr class="larguraG center">-->
            @*@Html.DisplayNameFor(model => model.atritionalInfoPhone1)
            @Html.DisplayFor(model => model.atritionalInfoPhone1)*@
        <!--</tr>
        <tr class="larguraG center">
            @Html.DisplayNameFor(model => model.countryCallingCode1)
            @Html.DisplayFor(model => model.countryCallingCode1)
        </tr>
        <tr class="larguraG center">
            @Html.DisplayNameFor(model => model.areaCodePhone1)
            @Html.DisplayFor(model => model.areaCodePhone1)
        </tr>
        <tr class="larguraG center">
            @Html.DisplayNameFor(model => model.numberPhone1)
            @Html.DisplayFor(model => model.numberPhone1)
        </tr>
        <tr class="larguraG center">
            @Html.DisplayNameFor(model => model.phoneExtension1)
            @Html.DisplayFor(model => model.phoneExtension1)
        </tr>
        <tr class="larguraG center">
            @Html.DisplayNameFor(model => model.typePhone2)
            @Html.DisplayFor(model => model.typePhone2)
        </tr>
        <tr class="larguraG center">-->
            @*@Html.DisplayNameFor(model => model.atritionalInfoPhone2)
            @Html.DisplayFor(model => model.atritionalInfoPhone2)*@
        <!--</tr>
        <tr class="larguraG center">
            @Html.DisplayNameFor(model => model.countryCallingCode2)
            @Html.DisplayFor(model => model.countryCallingCode2)
        </tr>
        <tr class="larguraG center">
            @Html.DisplayNameFor(model => model.areaCodePhone2)
            @Html.DisplayFor(model => model.areaCodePhone2)
        </tr>
        <tr class="larguraG center">
            @Html.DisplayNameFor(model => model.numberPhone2)
            @Html.DisplayFor(model => model.numberPhone2)
        </tr>
        <tr class="larguraG center">
            @Html.DisplayNameFor(model => model.phoneExtension2)
            @Html.DisplayFor(model => model.phoneExtension2)
        </tr>
        <tr class="larguraG center">
            @Html.DisplayNameFor(model => model.email)
            @Html.DisplayFor(model => model.email)
        </tr>-->
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.personalID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
