@model PatrimonyBank.ViewMoldels.AccountPFVm
<div class="">
    <p class="tituloLeve fonteLeveM center bordaTxtTitulo">Cpf : @Html.DisplayFor(model => model.CPF) @Html.DisplayFor(model => model.CPF) </p>
    <p class="center">Registro encontrado pelo CPF informado, escolha o que fazer dentre as opções abaixo.</p>
</div>
<br>
<div class="centralizeDiv larguraPP flex flexEvenly">
    <div class="center"><a asp-controller="" asp-action="" asp-route-id="@Model.personalID" class="btn red darken-3"><i class="material-icons">picture_as_pdf</i></a></div>
    <form class="center" style="margin-left:1%;" asp-action="SaveAcccountsPF" asp-controller="Accounts" target="">
        <input type="hidden" class="" name="cpf" value="@Model.CPF" />
        <button class="btn waves-effect waves-light blue darken-2" type="submit" name="action">Salvar
            <i class="material-icons right">save</i>
        </button>
    </form>
</div>
<br>
<div class="centralizeDiv larguraG alturaVHG contornoM" style="padding:1%; background-color:snow;">
    <table class="striped">
        <thead style="color:snow;" class="blue darken-2">
            <tr>
                <td class="center" colspan="12"><strong>@Html.DisplayNameFor(model => model.email): </strong> @Html.DisplayFor(model => model.email)</td>
                <td class="center" colspan="12"><strong>@Html.DisplayNameFor(model => model.civilName): </strong> @Html.DisplayFor(model => model.civilName)</td>
                <td class="center" colspan="12"><strong>@Html.DisplayNameFor(model => model.brandName): </strong> @Html.DisplayFor(model => model.brandName)</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="12"><strong>@Html.DisplayNameFor(model => model.socialName): </strong>@Html.DisplayFor(model => model.socialName)</td>
                <td colspan="12"><strong>@Html.DisplayNameFor(model => model.dateTime): </strong>@Html.DisplayFor(model => model.dateTime)</td>
                <td colspan="12"><strong>@Html.DisplayNameFor(model => model.maritalStatusCode): </strong> @Html.DisplayFor(model => model.maritalStatusCode) </td>
            </tr>
            <tr>
                <td colspan="12"><strong>@Html.DisplayNameFor(model => model.sex): </strong> @Html.DisplayFor(model => model.sex)</td>
                <td colspan="12"><strong>@Html.DisplayNameFor(model => model.hasBrazilianNationality): </strong>@Html.DisplayFor(model => model.hasBrazilianNationality)</td>
                <td colspan="12"><strong>@Html.DisplayNameFor(model => model.otherNationalitiesInfo): </strong>@Html.DisplayFor(model => model.otherNationalitiesInfo)</td>
            </tr>
            <tr>
                <td colspan="12"><strong>@Html.DisplayNameFor(model => model.typeDocument): </strong>@Html.DisplayFor(model => model.typeDocument)</td>
                <td colspan="12"><strong>@Html.DisplayNameFor(model => model.numberDocument): </strong>@Html.DisplayFor(model => model.numberDocument)</td>
                <td colspan="12"><strong>@Html.DisplayNameFor(model => model.expirationDate): </strong>@Html.DisplayFor(model => model.expirationDate)</td>
            </tr>
            <tr>
                <td colspan="12"><strong>@Html.DisplayNameFor(model => model.issueDate): </strong>@Html.DisplayFor(model => model.issueDate)</td>
                <td colspan="12"><strong>@Html.DisplayNameFor(model => model.country): </strong>@Html.DisplayFor(model => model.country)</td>
                <td colspan="12"><strong>@Html.DisplayNameFor(model => model.typeFiliation): </strong>@Html.DisplayFor(model => model.typeFiliation)</td>
            </tr>
            <tr>
                <td colspan="12"><strong>@Html.DisplayNameFor(model => model.civilNameFiliation): </strong>@Html.DisplayFor(model => model.civilNameFiliation)</td>
                <td colspan="12"><strong>@Html.DisplayNameFor(model => model.districtName): </strong>@Html.DisplayFor(model => model.districtName)</td>
                <td colspan="12"><strong>@Html.DisplayNameFor(model => model.townName): </strong>@Html.DisplayFor(model => model.townName)</td>
            </tr>
            <tr>
                <td colspan="12"><strong>@Html.DisplayNameFor(model => model.ibgeTownCode): </strong>@Html.DisplayFor(model => model.ibgeTownCode)</td>
                <td colspan="12"><strong>@Html.DisplayNameFor(model => model.countrySubDivision): </strong>@Html.DisplayFor(model => model.countrySubDivision)</td>
                <td colspan="12"><strong>@Html.DisplayNameFor(model => model.postCode): </strong>@Html.DisplayFor(model => model.postCode)</td>
            </tr>
            <tr>
                <td colspan="12"><strong>@Html.DisplayNameFor(model => model.countryAdress): </strong>@Html.DisplayFor(model => model.countryAdress)</td>
                <td colspan="12"><strong>@Html.DisplayNameFor(model => model.countryCode): </strong>@Html.DisplayFor(model => model.countryCode)</td>
                <td colspan="12"><strong>@Html.DisplayNameFor(model => model.typePhone1): </strong>@Html.DisplayFor(model => model.typePhone1)</td>
            </tr>
            <tr>
                <td colspan="12"><strong>@Html.DisplayNameFor(model => model.countryCallingCode1): </strong>@Html.DisplayFor(model => model.countryCallingCode1)</td>
                <td colspan="12"><strong>@Html.DisplayNameFor(model => model.areaCodePhone1): </strong>@Html.DisplayFor(model => model.areaCodePhone1)</td>
                <td colspan="12"><strong>@Html.DisplayNameFor(model => model.numberPhone1): </strong>@Html.DisplayFor(model => model.numberPhone1)</td>
            </tr>
            <tr>
                <td colspan="12"><strong>@Html.DisplayNameFor(model => model.phoneExtension1): </strong>@Html.DisplayFor(model => model.phoneExtension1)</td>
                <td colspan="12"><strong>@Html.DisplayNameFor(model => model.countryCallingCode2): </strong>@Html.DisplayFor(model => model.countryCallingCode2)</td>
                <td colspan="12"><strong>@Html.DisplayNameFor(model => model.countryCallingCode2): </strong>@Html.DisplayFor(model => model.countryCallingCode2)</td>
            </tr>
            <tr>
                <td colspan="12"><strong>@Html.DisplayNameFor(model => model.areaCodePhone2): </strong>@Html.DisplayFor(model => model.areaCodePhone2)</td>
                <td colspan="12"><strong>@Html.DisplayNameFor(model => model.numberPhone2): </strong>@Html.DisplayFor(model => model.numberPhone2)</td>
                <td colspan="12"><strong>@Html.DisplayNameFor(model => model.phoneExtension2): </strong>@Html.DisplayFor(model => model.phoneExtension2)</td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<br>
